<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="http://localhost:8000/emailImage/CEESTORE 2.png"
      type="image/x-icon"
      sizes="128x128"
    />

    <title>CEE Store</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-sixteen.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/home.css" />
  </head>

  <body>
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="http://localhost:8000/main/home"
            ><h2>CEE <em>Store</em></h2></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" id="nav-items-list">
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/main/home"
                  >Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8000/main/products"
                  >Our Products</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/main/profile"
                  >Profile</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/main/cart"
                  >Cart</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/main/about"
                  >About Us</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/main/contact"
                  >Contact Us</a
                >
              </li>
              <li class="nav-item">
                <a id="logout" class="nav-link">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>new arrivals</h4>
              <h2>CEE products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                <li class="active" data-filter="*">All Products</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
              <div class="row" id="tar"></div>
            </div>
          </div>
          <div class="col-md-12">
            <ul class="pages" id="nav">
              <li class="liii active">1</li>
              <li class="liii">2</li>
              <li class="liii">3</li>
              <li class="liii">4</li>
              <li>
                <i class="fa fa-angle-double-right"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2023 CEE Store Co., Ltd.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/logout.js"></script>
    <script src="assets/js/onload.js"></script>
    <script src="assets/js/pagination.js"></script>

    <script language="text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0;
      function clearField(t) {
        if (!cleared[t.id]) {
          cleared[t.id] = 1;
          t.value = "";
          t.style.color = "#fff";
        }
      }
    </script>
  </body>
</html>
