<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="http://localhost:8000/emailImage/CEESTORE 2.png"
      type="image/x-icon"
      sizes="128x128"
    />

    <title>CEE Store</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-sixteen.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/profile.css" />
  </head>

  <body>
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="http://localhost:8000/main/home"
            ><h2>CEE <em>Store</em></h2></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" id="nav-items-list">
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/main/home"
                  >Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/main/products"
                  >Our Products</a
                >
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8000/main/profile"
                  >Profile</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/main/cart"
                  >Cart</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/main/about"
                  >About Us</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/main/contact"
                  >Contact Us</a
                >
              </li>
              <li class="nav-item">
                <a id="logout" class="nav-link">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <form method="" id="product-form" enctype="multipart/form-data">
      <div class="page-heading cart-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-content">
                <h4>HISTORY</h4>
                <h2>History of your orders</h2>
              </div>
              <div class="upload">
                <input type="file" id="file-input" name="image" />
                <label for="file-input" class="camera-icon">
                  <img
                    src="assets/images/149071.png"
                    id="userImage"
                    width="150"
                    height="150"
                    alt=""
                  />
                  <div class="round">
                    <i class="fa fa-camera" style="color: #fff"></i>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="first">
              <i class="fa fa-user" aria-hidden="true"><p id="username"></p></i>
            </div>
            <div id="second">
              <i class="fa fa-envelope" aria-hidden="true"
                ><p id="email"></p
              ></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul id="heading-list">
                <li class="active" data-filter=".des" id="curr">Current</li>
                <li data-filter=".dev" id="his">History</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
              <div class="row" id="tar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2023 CEE Store Co., Ltd.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/profile.js"></script>
    <script src="assets/js/currentOnload.js"></script>
    <script src="assets/js/current.js"></script>
    <script src="assets/js/history.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/logout.js"></script>

    <script language="text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0;
      function clearField(t) {
        if (!cleared[t.id]) {
          cleared[t.id] = 1;
          t.value = "";
          t.style.color = "#fff";
        }
      }
    </script>
  </body>
</html>
